<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.ppip.penelitian_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_polindra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_polindra"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penelitian_Mobile"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.LaporanAkhirDetailPengabdianActivity"></activity>
        <activity android:name=".activities.LaporanAkhirDetailPenelitianActivity" />
        <activity android:name=".activities.LaporanAkhirPengabdianActivity" />
        <activity android:name=".activities.LaporanAkhirPenelitianActivity" />
        <activity android:name=".activities.LaporanKemajuanPengabdianDetailActivity" />
        <activity android:name=".activities.LaporanKemajuanPengabdianActivity" />
        <activity android:name=".activities.LaporanKemajuanPenelitianDetailActivity" />
        <activity android:name=".activities.LaporanKemajuanPenelitianActivity" />
        <activity android:name=".activities.LogbookDetailPengabdianActivity" />
        <activity android:name=".activities.LogbookDetailPenelitianActivity" />
        <activity android:name=".activities.LogbookPengabdianTambahActivity" />
        <activity android:name=".activities.LogbookPenelitanTambahActivity" />
        <activity android:name=".activities.UsulanDetailPengabdianActivity" />
        <activity android:name=".activities.UsulanDetailPenelitianActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LogbookPengabdianActivity" />
        <activity android:name=".activities.UsulanPengabdianActivity" />
        <activity android:name=".activities.AnggotaActivity" />
        <activity android:name=".activities.BiodataActivity" />
        <activity android:name=".activities.LogbookPenelitianActivity" />
        <activity android:name=".activities.UsulanPenelitianActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>